.Speech {
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
  }
  .direction {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
    


.direction:hover{
    background-color: lightpink;
    color: black;
}
.TESMAN{

    color:rgb(255, 204, 0);

}

.TESMAN:hover{

    background-color:azure;

    text-align: center;

    text-shadow: 3px 3px 5px lightcoral;

    border:dashed;

}
.HEDDA{

    color:rgb(0, 255, 42);

}

.HEDDA:hover{

    background-color:azure;

    text-align: corner;

    text-shadow: 3px 3px 5px lightcoral;

    border:dashed;

}
.table {
    border: 2px;
    color: brown;
    text-align: center;
    border: 5px solid black; 
   
    padding: 10px;
    width: 800px;
    
  }
  
  .HEDDA {
    color: pink;
  
  }
  .HEDDA:hover {
    box-shadow: 20px 20px 50px rgba(2, 4, 5, 0.5);
    border: 2px solid green;
    text-shadow: 2px 3px 5px green;
  }
  
  .TESMAN{
    color: red;
  }
  
  .TESMAN:hover {
    box-shadow: 2px 10px 5px rgba(3, 5, 7, 0.5);
    border: 2px solid green;
    text-shadow: 2px 3px 5px red;
  }
  
  
  
  .table th {
    background-color: lightblue;
    color: red;
  }
  .bonus {
    margin-right: 20px;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    
    
  
  }
  .bonus li {
    float:left;
    color: lightgrey;
    
    background-color: lightpink;
  }
  
  .bonus ul{
  
    list-style-type: none;
  }
  
  .bonus a{
    display: inline-block;
    padding: 10px 20px;
  }